<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTools CA</title>
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <style>
      html,
      body {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div
      class="flex flex-col min-h-full text-white bg-gradient-to-b to-[#334155] from-[#1f2937]"
    >
      <div class="flex-grow pb-8">
        <header class="px-6 pt-6 flex justify-between items-center">
          <a href="https://htools.work" class="hover:underline">HTools</a>
          <h1 class="mx-8 text-lg font-medium text-center">
            <a href="/">HTools Certificate Authority</a><br />
            <p class="mt-2 text-sm font-light">just kidding, kinda.</p>
          </h1>
          <a
            href="https://github.com/htools-org/htools-dane-ca"
            class="hover:underline fill-current"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
              />
            </svg>
          </a>
        </header>

        <main class="mx-auto mt-16 w-full max-w-4xl text-center">
          <div class="mx-6">
            <p>
              This is an
              <a
                class="underline"
                href="https://en.wikipedia.org/wiki/Automated_Certificate_Management_Environment"
                target="_blank"
                rel="noopener noreferrer"
                >ACME</a
              >
              server, similar to what
              <a
                class="underline"
                href="https://letsencrypt.org/"
                target="_blank"
                rel="noopener noreferrer"
                >LetsEncrypt</a
              >
              runs.
            </p>
            <p class="mt-2">
              But, instead of signing your certificates being signed by a
              trusted CA, it creates a self-signed certificate. This can be used
              with
              <a
                class="underline"
                href="https://en.wikipedia.org/wiki/DNS-based_Authentication_of_Named_Entities"
                target="_blank"
                rel="noopener noreferrer"
                >DANE</a
              >
              to secure Handshake websites.
            </p>
          </div>

          <div
            class="mt-8 p-6 w-full text-left font-mono bg-black bg-opacity-30 rounded whitespace-nowrap overflow-x-auto"
          >
            # Have a web server serving HTTP already:
            <a
              class="underline"
              href="https://blog.htools.work/posts/hns-pdns-nginx-part-2/"
              target="_blank"
              rel="noopener noreferrer"
              >HTools Blog Post</a
            ><br />
            # Install certbot (or any client) normally:
            <a
              class="underline"
              href="https://certbot.eff.org/"
              target="_blank"
              rel="noopener noreferrer"
              >https://certbot.eff.org/</a
            ><br />
            # Get a certificate and install it like:<br /><br />
            sudo certbot --nginx -d your_tld.or_sld \<br />
            &nbsp;&nbsp;&nbsp;&nbsp;--server https://acme.htools.work/directory
            --reuse-key
            <br /><br />
            # Finally, set the TLSA record from
            <a
              class="underline"
              href="/tlsa"
              target="_blank"
              rel="noopener noreferrer"
              >https://acme.htools.work/tlsa</a
            >
          </div>

          <div class="mt-8 px-4 grid md:grid-cols-2 gap-x-20 gap-y-8 text-left">
            <div>
              <h3 class="text-lg font-bold">Why does this even exist?</h3>
              <p class="mt-2 font-light">
                Because you can use any ACME client (like
                <a
                  class="underline"
                  href="https://certbot.eff.org/"
                  target="_blank"
                  rel="noopener noreferrer"
                  >certbot</a
                >) and take advantage of existing plugins for all kinds of web
                servers. Also, there's no need to bother with OpenSSL and TLSA.
              </p>
            </div>
            <div>
              <h3 class="text-lg font-bold">What if the CA is compromised?</h3>
              <p class="mt-2 font-light">
                Nothing happens. A new CA key is generated for every issued
                certificate and then destroyed immediately. And with DANE, it
                really wouldn't matter anyway.
              </p>
            </div>
            <div>
              <h3 class="text-lg font-bold">I don't want emails.</h3>
              <p class="mt-2 font-light">
                Emails are only sent when certificates are issued. If you
                already know what to do and really don't want them, then add a
                <span
                  class="p-1 font-mono text-sm rounded border border-opacity-30 bg-gray-800"
                  >+noemail</span
                >
                to the end of your email address like:
                <span
                  class="p-1 font-mono text-sm rounded border border-opacity-30 bg-gray-800"
                  >foobar+noemail@gmail.com</span
                >.
              </p>
            </div>
            <div>
              <h3 class="text-lg font-bold">Help!</h3>
              <p class="mt-2 font-light">
                Feel free to join Handshake's
                <a
                  href="https://t.me/handshake_hns"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="underline"
                  >Telegram</a
                >
                or
                <a
                  href="https://discord.gg/handshake"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="underline"
                  >Discord</a
                >
                groups and we'll do our best to figure out how to fix.
              </p>
            </div>
          </div>
        </main>
      </div>

      <footer
        class="flex-shrink-0 w-full py-2 text-center bg-white bg-opacity-5"
      >
        <p class="text-sm font-medium text-white">
          Made with ♥️ by
          <a href="https://blek.ga" class="hover:underline">Rithvik Vibhu</a>
        </p>
      </footer>
    </div>
  </body>
</html>
