<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TLSA | HTools CA</title>
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <style>
      html,
      body {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div
      class="flex min-h-full flex-col bg-gradient-to-b from-[#1f2937] to-[#334155] text-white"
    >
      <div class="flex-grow pb-8">
        <header class="flex items-center justify-between px-6 pt-6">
          <a href="https://htools.work" class="hover:underline">HTools</a>
          <h1 class="mx-8 text-center text-lg font-medium">
            <a href="/">HTools Certificate Authority</a><br />
            <p class="mt-2 text-sm font-light">just kidding, kinda.</p>
          </h1>
          <a
            href="https://github.com/htools-org/htools-dane-ca"
            class="fill-current hover:underline"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
              />
            </svg>
          </a>
        </header>

        <main class="mx-auto mt-16 w-full max-w-4xl text-center">
          <div>
            <form
              class="flex justify-center h-12 gap-4"
              onsubmit="onSubmit(event)"
            >
              <input
                type="text"
                id="domain-input"
                placeholder="domain name"
                class="rounded-lg border border-gray-300 bg-gray-200 px-2.5 text-sm text-gray-900 placeholder-gray-500 focus:ring-4 ring-gray-400 outline-none"
                required
                autofocus
              />

              <button
                type="submit"
                class="rounded-lg bg-gray-700 px-5 text-sm font-medium text-white hover:bg-gray-800 focus:outline-none focus:ring-4 focus:ring-gray-300"
              >
                Get TLSA
              </button>
            </form>
          </div>

          <div id="result-div" class="mt-8 p-4 bg-gray-700 rounded-lg">
            <p>TLSA Record to add:</p>
            <pre class="mt-2 font-mono select-all">Enter domain above.</pre>
          </div>

          <script>
            async function onSubmit(event) {
              event.preventDefault();
              const $resultDiv = document.getElementById('result-div');
              try {
                $resultDiv.querySelector('pre').innerText = 'Loading...';

                /** @type {string} */
                let domain = document.getElementById('domain-input').value;
                domain = domain
                  .replace(/^https?:\/\//, '')
                  .replace(/\/$/, '')
                  .toLowerCase();
                // console.log(domain);

                const res = await (
                  await fetch(`/tlsa/${domain}`, {
                    signal: AbortSignal.timeout(10000),
                  })
                ).json();
                if (res.error) throw new Error(res.error);
                const tlsa = res.tlsa;
                // console.log({ tlsa });

                $resultDiv.querySelector('pre').innerText = tlsa;
              } catch (error) {
                // console.log({ error });
                if (error.name === 'AbortError') error = 'Timeout.';
                $resultDiv.querySelector('pre').innerText =
                  'Error: ' + (error.message || error);
              }
            }
          </script>
        </main>
      </div>

      <footer
        class="w-full flex-shrink-0 bg-white bg-opacity-5 py-2 text-center"
      >
        <p class="text-sm font-medium text-white">
          Made with ♥️ by
          <a href="https://blek.ga" class="hover:underline">Rithvik Vibhu</a>
        </p>
      </footer>
    </div>
  </body>
</html>
